@viewport {
  width: device_width;
  zoom: 1.0 ;
}

@media only screen and (min-width: 900px) {
    #sec5 {
        color: aliceblue;
    }
    #sec4 {
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.9;
    }
}


.nav-link{
    color: aliceblue;
    font-weight: bold
}
.navbar-brand{
    color: aliceblue;
    font-weight: bold;
}

body, html {
    height: 100%;
    scroll-behavior: smooth;
    font-family: 'Montserrat';
  }
  

#sec1{ 
    background-image: url("bg1.jpg");
    height: 120%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
}
 
#intro-1{
    padding-top: 8rem;
    color: black;

}
#intro{
    background-color:transparent;
    padding-top: 8rem;
    padding-left: 15rem;
    color:black;
}


#sec2{
    
    height: 100%; 
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
}

#sec2-div1{
    padding-top: 8rem;
    color: black;

}

#sec2-div2{
    background-color: aliceblue
}

#git-link{
    padding-left: 0rem;

}

#sec3{
    height:auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
}

#sec3-div1{
    padding-top: 7rem;
    padding-bottom: 7rem;   
    color: black;
    height: auto;
}


#timeline{
position: relative;
background-color:transparent;
margin: auto;
padding: 70px 0;
width: 1100px;
box-sizing: border-box;
}

#timeline:before{
content: '';
position: absolute;
left: 50%;
width: 2px;
height: 100%;
background: #c5c5c5;
}

#timeline ul{
margin: 0;
padding: 50;
}

#timeline ul li{
list-style:none;
position: relative;
width: 50%;
padding: 50%;
padding: 20px 40px;
}

#timeline ul li:nth-child(odd){
float: left;
text-align: right;
clear: both;
}

#timeline ul li:nth-child(even){
float: right;
text-align: left;
clear: both;
}

#content{
padding-bottom: 20px;
}

#timeline ul li:nth-child(odd):before{
content: '';
position: absolute;
width: 10px;
top: 32px;
right: -6px;
height: 10px;
background-color: dimgrey;
border-radius: 50%;
box-shadow: 0 0 0 3px lightgrey;
}

#timeline ul li:nth-child(even):before{
content: '';
position: absolute;
width: 10px;
top: 32px;
left: -6px;
height: 10px;
background-color: dimgrey;
border-radius: 50%;
box-shadow: 0 0 0 3px lightgrey;
}

#timeline ul li h3{
margin: 0;
padding: 0;
font-weigth: 600;
color: dimgrey;
}

#timeline ul li p{
margin: 10px 0 0;
padding 0;
}

#timeline ul li .time h4{
margin: 0;
padding: 0;
font-size: 14px;
}

#timeline ul li:nth-child(odd) .time{
position: absolute;
top:20px;
right:-165px;
margin:0;
padding: 8px 16px;
background: dimgrey;
color: #ffff;
border-radius: 18px;
box-shadow: 0 0 0 3px lightgrey;
}

#timeline ul li:nth-child(even ) .time{
position: absolute;
top:20px;
left:-145px;
margin:0;
padding: 8px 16px;
background: dimgrey;
color: #ffff;
border-radius: 18px;
box-shadow: 0 0 0 3px lightgrey;
}

#sec4{
    height:auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
}

#sec4-div1{
    padding-top: 7rem;
    padding-bottom: 7rem;
    color: black;
    height: auto;

}

#sec4-div2{
    background-color: aliceblue;
}

.heading{
    color: black;
    font-weight: bold;
    margin-bottom: 2rem
}

.heading2{
    color:  black;
    font-weight: bold;
    margin-bottom: 2rem;
    letter-spacing: 0.15rem;
    text-transform: capitalize;
}

#sec5{
    background-image: url("bg4.jpg");
    height: auto; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


#sec5-div1{
    padding-top: 7rem;
    padding-bottom: 15rem ;
    height: 100%
}

#sec5-div2{
    background-color: aliceblue;
}
